<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coordinate Extraction</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }
    </style>
</head>
<body>
	<div class="content">
		<h2> Select Media </h2>
		<!-- Display error messages if there are any -->
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				<ul>
					{% for category, message in messages %}
						<li class="{{ category }}">{{ message }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		
		<form action="/upload" method="POST" enctype="multipart/form-data">
			<label for="video">Select Video:</label>
			<input type="file" id="video" name="video" accept=".mp4, .avi, .mov, .mkv" required>

			<label for="start_time">Start Time (HH:MM:SS):</label>
			<input type="time" name="start_time" step="1" required><br><br>

			<label for="end_time">End Time (HH:MM:SS):</label>
			<input type="time" name="end_time" step="1" required><br><br>

			<label for="interval_time">Interval Time (HH:MM:SS):</label>
			<input type="time" name="interval_time" step="1" required><br><br>

			<input type="submit" value="Upload and Extract Frames">
		</form>
	</div>
</body>
</html>
